*{
  margin: 0;
  padding: 0;
}

body{
  background: url(maxed.jpg);
}

div.main{
  width: 400px;
 
  margin: 100px auto 0px auto;
}

h2{
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

div.search{
  background-color: rgba(50,100,50, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,);
  box-shadow: 2px 2px 15px
 rgba(0,0,0,0.3);
 color:rgb(100, 250,200);
 
}


form#form{
    margin: 15px;
}

label{
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;

}
input#email{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 7px;
}


input#submit{
  width: 100px;
  padding: 4px;
  font-family: sans-serif;
  background-color: rgba(250,100,0,0.8);
  margin-bottom: 20px;
}